@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-logo: 50;
  --font-oxanium: Oxanium;
  --font-title: Oxanium;
  --font-subtitle: Oxanium;
  --text-title: 100;
  --text-subtitle: 64;
  --text-nav: 18;
  --font-paragraph: Lato;
  --text-paragraph: 25;
  --color-purple: #f81dfb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #140c1f;
  min-height: 100vh;
  max-height: fit-content;
  overflow-x: hidden;
}
